body {
  background-color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFFFFF;
  font-family: 'Consolas';
}

#page{
  text-align: center;
}

#menu{
  text-align: center;
}

p {
  color: #FFFFFF;
  font-family: 'Verdana';
  font-size: 12;
  margin-left: 5%;
  margin-right: 50%
}

a {
  color: #FF0000;
  text-decoration: none;
}

a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
