html,
body {
   margin:0;
   padding:0;
   height:100%;
   background-color: #000;
   font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFFFFF;
  font-family: 'Consolas';
  style: bold;
  text-align: center;
}

a {
  color: #F00;
  text-decoration: none;
}

#menu{
  text-align: center;
  color: #FFF;
  font-family: 'Verdana';
}

#container {
   min-height:100%;
   position:relative;
}

#header {
   background:#000;
   text-align: center;
}

#body {
   /*padding:10px;*/
   padding-bottom:140px;   /* Height of the footer */
   margin-left: 20%;
   max-width: 60%;
   color: #FFF;
   font-family: 'Verdana';
   font-size: 1em;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height: 140px;   /* Height of the footer */
   text-align: center;
   color: #FFF;
}
